@font-face {
  font-family: 'Comfortaa';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Comfortaa-Medium.woff2') format('woff2'),
       url('../fonts/Comfortaa-Medium.woff') format('woff');
  font-display: swap;
}

