$default: #ffffff;
$accent: #75beff;
$mainBgColor: #1f242d;
$secondBgColor: #323945;

:root {
  --bg-color: rgb(255, 33, 33);
  --primary-color: rgb(0, 140, 255);
}

@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
   }
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}


// ИСПОЛЬЗОВАНИЕ @include pseudo
 
%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

%bg-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// ИСПОЛЬЗОВАНИЕ @extend %bg-img;